.featured-entrepreneur {

  background-color: #fff;

  a {
    color: $colour-dark;
    cursor: pointer;

    &:hover {
      color: $colour-dark;
    }
  }

  border: 2px solid $colour-light;
  border-radius: 4px;
  overflow: hidden;

  .entrepreneur-image {
    @include box(12, false, false);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    overflow: hidden;
  }

  .entrepreneur-wraper {
    @include box(12, false, false);
    padding: $gutter;
  }


  @include media($medium-screen) {
    .entrepreneur-image {
      height: auto;
      @include box(5, false, false);
    }

    .entrepreneur-wraper {
      @include box(7, false, false);
      padding: $gutter $gutter $gutter 0;
    }

    .entrepreneur-content {
      height: 350px;
    }
  }

  @include media($large-screen) {
    .entrepreneur-content {
      height: 250px;
    }
  }

  .entrepreneur-meta {

    .info-box {
      padding: $gutter 0;
      font-size: 10pt;
      margin: 0;

      div:first-of-type {
        float: left;
      }

      div:last-of-type {
        float: right;
      }
    }
  }
}
