<div class="invested-entrepreneurs row">
  <a ng-href="/entrepreneur/{{entrepreneur.id}}" class="entrepreneur" ng-repeat="entrepreneur in investedEntrepreneurs | objToArray | limitTo : limit">
    <div class="tag">{{entrepreneur.status}}</div>
    <div
      ng-if="entrepreneur.image"
      class="entrepreneur-image"
      ng-style="{'background-image': 'url(@BACKENDURL@' + entrepreneur.image + ')'}">
    </div>
    <div
      ng-if="!entrepreneur.image"
      class="entrepreneur-image"
      ng-style="{'background-image': 'url(@BACKENDURL@' + 'images/entrepreneur_default.svg' + ')'}">
    </div>

    <div class="entrepreneur-content">
      <h2 class="bottomless">{{entrepreneur.name}}</h2>
      Total invested: <b>{{entrepreneur.accountInvestment | money}}</b>
    </div>
  </a>
</div>
