<section class="screenblock light-colour headerify">
  <div class="content">
    <h1 class="bottomless">Hello {{Account.userDetails.nickname}}</h1>
  </div>
</section>

<section class="screenblock">
  <div class="content">
    <h1>Your entrepreneurs</h1>
    <invested-entrepreneurs data="account.investedEntrepreneurs" limit="entrepreneurLimit"></invested-entrepreneurs>
    <div class="center">
      <br>
      <a href ng-show="(account.investedEntrepreneurs | objSize) > entrepreneurLimit" ng-click="entrepreneurLimit = entrepreneurLimit + 9" class="button">Load more</a>
      <span ng-show="(account.investedEntrepreneurs | objSize) <= entrepreneurLimit">All loaded</span>
    </div>
  </div>
</section>

<section class="screenblock light-colour">
  <div class="content">
    <h1>Transaction history</h1>
    <orders data="account.orders" limit="orderLimit"></orders>
    <div class="center">
      <br>
      <a href ng-show="(account.orders | objSize) > orderLimit" ng-click="orderLimit = orderLimit + 9" class="button">Load more</a>
      <span ng-show="(account.orders | objSize) <= orderLimit">All loaded</span>
    </div>
  </div>
</section>
