.entrepreneur-investors {
  .investor {
    @include box(12, false, false);

    @include media($medium-screen) {
      @include box(4, false, false);
    }

    @include media($large-screen) {
      @include box(3, false, false);
    }

    margin-top: $gutter;

    color: $colour-dark;
    background-color: #fff;
    border-radius: 4px;
    padding: $gutter;

    &:hover,
    &:active,
    &:focus {
      color: $colour-dark;
    }
  }
}
