login {
  float: right;

  button.login-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  .login-content {
    border: 2px solid $colour-light;
    background-color: $colour-white;
    padding: $gutter;
    transition: all .2s ease;
    position: absolute;
    right: 0;
    top: #{$gutter/2};
    min-width: 250px;
  }


}
