<button type="button" ng-click="showLoginForm = !showLoginForm" ng-hide="showLoginForm" class="login-toggle">
  <span ng-show="!account.loginToken">Login</span>
  <span ng-show="account.loginToken">{{account.userDetails.nickname}}</span>
</button>

<div class="login-content" ng-show="showLoginForm" >

  <button type="button" class="close-button" ng-click="showLoginForm = !showLoginForm">x</button>
  <form name="loginForm" ng-submit="loginForm.$valid && account.login(loginEmailAddress, loginPassword)" ng-show="!account.loginToken" novalidate>

    <h3 class="bottomless">Login</h3>

    <div class="formrow">
      <div class="formfield field-100">
        <input type="text" name="email" ng-model="loginEmailAddress" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,10}" id="login-email" required>
        <label for="login-email">Email</label>
      </div>
    </div>
    <div class="formrow">
      <div class="formfield field-100">
        <input type="password" name="password" ng-model="loginPassword" minlength="5" max-length="128" id="login-password" required>
        <label for="login-password">Password</label>
      </div>
    </div>
    <div class="formrow">
      <div class="formfield field-100">
        <button>Login</button>
      </div>
    </div>
  </form>

  <div ng-show="account.loginToken">
    <h3 class="bottomless">Hello {{account.userDetails.nickname}}</h3>
    <ul class="un">
      <li><a href="/account" class="full-width">Your account</a></li>
      <li><a href="/account/investments" class="full-width">Your investments</a></li>
      <li><a href="/account/personaldetails" class="full-width">Your personal details</a></li>
      <li></li>
    </ul>
    <hr>
    <ul class="un">
      <li>
        <a href ng-click="account.logout()" class="red">Logout</button>
      </li>
    </ul>

  </div>

</div>
