<button type="button" ng-click="showLoginForm = !showLoginForm" ng-hide="showLoginForm" class="login-toggle">
  <span ng-show="!account.loginToken">Login</span>
  <span ng-show="account.loginToken">{{account.userDetails.nickname}}</span>
</button>

<div class="login-content" ng-show="showLoginForm" click-outside="showLoginForm = false" outside-if-not="login-toggle">

  <button type="button" class="close-button" ng-click="showLoginForm = !showLoginForm">x</button>

  <div ng-show="!account.loginToken">

    <!-- LOGIN -->
    <form name="loginForm" ng-submit="loginForm.$valid && account.login(loginEmailAddress, loginPassword)" ng-show="!forgot && !reset" novalidate>
      <h3 class="bottomless">Login</h3>
      <div class="formrow">
        <div class="formfield field-100">
          <input type="text" name="email" ng-model="loginEmailAddress" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,10}" id="login-email" required>
          <label for="login-email">Email</label>
        </div>
      </div>
      <div class="formrow">
        <div class="formfield field-100">
          <input type="password" name="password" ng-model="loginPassword" minlength="5" max-length="128" id="login-password" required>
          <label for="login-password">Password</label>
        </div>
      </div>
      <div class="formrow">
        <div class="formfield field-100">
          <button class="full-width">Login</button>
          <div class="center">
            <a href ng-click="forgot = true" class="forgot-link">Forgot password</a>
          </div>
        </div>
      </div>
    </form>

    <!-- FORGOT -->
    <form name="forgotForm" ng-submit="forgotForm.$valid && sendResetEmail(loginEmailAddress)" ng-show="forgot && !reset" novalidate>
      <h3 class="bottomless">Forgot password</h3>
      <div class="formrow">
        <div class="formfield field-100">
          <input type="text" name="email" ng-model="loginEmailAddress" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,10}" id="login-email" required>
          <label for="login-email">Email</label>
        </div>
      </div>
      <div class="formrow">
        <div class="formfield field-100 loading-container">
          <button class="full-width" ng-class="{loading: sendingResetEmail}">Send reset email</button>
          <div class="center">
            <a href ng-click="forgot = false" class="forgot-link">Login</a>
          </div>
        </div>
      </div>
    </form>

    <!-- RESET -->
    <div ng-show="reset">
      <h3>Sent!</h3>
      <p class="bottomless">We have sent you an email with a link to reset your password.</p>
    </div>



  </div>
  <div ng-show="account.loginToken">
    <h3 class="bottomless">Hello {{account.userDetails.nickname}}</h3>
    <ul class="un">
      <li><a href="/account" class="full-width">Your account</a></li>
      <li><a href="/account/profile" class="full-width">Your profile</a></li>
      <li></li>
    </ul>
    <hr>
    <ul class="un">
      <li>
        <a href ng-click="account.logout()" class="red">Logout</button>
      </li>
    </ul>

  </div>

</div>
