// layout /////////////////////////////////////////////////////////////////////


/*
 * index ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 * 1. base
 * 2. sections
 * 3. blocks
 * 4. misc
 *
 */


// 1. base ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.screen { }


// 2. sections ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.screenblock {
  padding: 80px 0;
  background-color: $colour-white;
  z-index: 2;
  position: relative;

  &.has-layout {
    padding-top: $gutter*2;
  }

  &.visual {
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 260px;
    vertical-align: middle;
    padding: 107px 0;

    &.large {
      background-size: cover;
      background-attachment: fixed;
      will-change: transform;
      z-index: -1;
      background-position: top center;
      padding: 200px $gutter 0;
      height: 480px;

      .title {
        text-shadow: 1px 1px rgba(0,0,0,.3);
      }
    }
  }

  &.shrinked {
    padding: 0;
  }

  &.cozy {
    padding: $gutter 0;
  }

  .content {
    @include outer-container();
    padding: $gutter;
    position: relative;
  }
}

// 3. blocks ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.block-8-4 {
  @include row();

  .mainblock {
    @include box(12);
    //border-right: 1px solid $ya-color-smoke;

    @include media($medium-screen) {
      padding-right: $gutter*2;
      @include box(8);
    }

    @include media($large-screen) {
      padding-right: $gutter*2;
      @include box(8);
    }

  }

  .sideblock {
    @include box(12);

    button,
    .button {
      font-size: 24px;
      width: 100%;
    }

    @include media($medium-screen) {
      @include box(4);
    }

    @include media($large-screen) {
      @include box(4);
    }
  }
}

// 4. misc ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

figure {
  margin: 0;
}

.center {
  text-align: center;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  overflow-y: scroll;
  background-color: rgba(0,0,0,.8);
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 480px;
  width: 600px;
  overflow: auto;
  box-shadow: 0 0 15px 5px rgba(0,0,0,.2);
  background-color: #fff;

  .popup-header {
    border-bottom: 1px solid #e8ecf2;
    padding: 12px 24px;
    background-color: #f2f2f2;
    position: relative;

    .close {
      position: absolute;
      top: 0;
      right: 0;
      height: 65px;
      width: 65px;
      line-height: 65px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      font-size: 18px;
      color: #687079;
      margin: 0;
    }
  }

  .popup-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 12px 0 10px;
    line-height: 1;
  }

  .popup-content {
    padding: 12px 24px;
  }

}
