.headless {
  margin-top: 0;
}

.bottomless {
  margin-bottom: 0;
}

ul {
  &.un {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      padding: #{$gutter/4} 0;

      &:first-child {
        margin-top: $gutter;
      }
    }
  }
}

h1.big {
  font-size: 50px;
}

.floatright {
  float: right;
}

.small {
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
}

.pre-wrap {
  white-space: pre-wrap;
}

hr {
  border: 1px 0 0 0 solid $colour-dark;
}
