$gutter: 12px;
$border-radius: 2px;

$max-width:                                                                     1170px;
$grid-columns:                                                                  12;
$gutter:                                                                        12px;
$large-screen:                                                                  1024px;
$medium-screen:                                                                 640px;
$ya-container-padding:                                                          0 24px;
$ya-base-spacing:                                                               24px;
$ya-border-radius:                                                              2px;
$ya-header-height:                                                              120px;
