.notifications {
  position: fixed;
  top: $gutter;
  left: $gutter;
  color: #fff;
  z-index: 500;

  .notification {

    background-color: $colour-red;
    padding: $gutter;
    text-align: center;
    margin-bottom: $gutter;
    cursor: pointer;

    &.good {
      background: $colour-primary;
    }
  }
}
