<div class="formrow">
  <div class="formfield field-50">
    <input
      type="text"
      id="nickname"
      minlength="5"
      maxlength="20"
      ng-model="data.nickname"
      name="name"
      required
    >
    <label for="nickname">Your name</label>
  </div>
  <div class="formfield field-50">
    <input
      type="email"
      id="email"
      pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,10}"
      minlength="7"
      maxlength="64"
      name="email"
      ng-model="data.emailAddress"
      required
    >
    <label for="email">Your email address</label>
  </div>
</div>
<div class="formrow">
  <div class="formfield field-100">
    <input
      type="text"
      ng-model="data.addressInput"
      data="data"
      id="address"
      minlength="5"
      required
      address
      predictions="data.predictions"
      autocomplete="off"
      >
    <label for="address">Your full address</label>
  </div>
  <div class="predictions" ng-show="data.predictions.length">
    <b>Please select your address</b>
    <div class="prediction" ng-repeat="prediction in data.predictions" ng-click="prediction.pick(prediction.description)">
      {{prediction.description}}
    </div>
  </div>
</div>
<div class="formrow">
  <div class="formfield field-50">
    <input
      type="password"
      id="password"
      minlength="6"
      maxlength="128"
      name="new-password"
      ng-model="data.password"
      ng-model-options="{allowInvalid: true}"
      required
    >
    <label for="password">Create a password</label>
    <div class="passwordStrength strength_{{passwordStrength.score}}"></div>
  </div>
  <div class="formfield field-50">
    <input
      type="password"
      id="repeatPassword"
      minlength="6"
      maxlength="128"
      name="new-password"
      ng-model="data.repeatPassword"
      equals="{{data.password}}"
      required
    >
    <label for="repeatPassword">Repeat password</label>
  </div>
</div>
