footer {
  .screenblock {
    padding: 0;
    background-color: $colour-dark;
    color: #fff;

    .copyright {
      float: left;
    }
    .links {
      float: right;
    }
  }

  .seperator {
    margin: 0 10px;
  }
}
