.video-hero-banner {

  height: 100vh;

  .screenblock {
    padding: 0;
    height: 100%;
  }
  .content {
    position: relative;
    z-index: 2;
    height: 100%;
    div {
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      position: absolute;
      color: $colour-white;
      text-align: center;
      h1 {
        font-size: 8vw;
        width: 80vw;
        margin: 0 auto;
        @include media($medium-screen) {
          font-size: 45px;
          width: 430px;
        }
        @include media($large-screen) {
          font-size: 80px;
          width: 800px;
        }
      }
      .button {
        margin-top: 30px;
        font-size: 24px;
        padding: $gutter $gutter*2;
      }
    }
  }

  .hero-background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  }
}
