<video-hero-banner></video-hero-banner>
<section class="screenblock light-colour">
  <div class="content">

    <h1>dignity & hope</h1>
    <p>
      Dignity & Hope works to change the first-world perception towards developing countries. We believe that all nations can rise to create a bright future through their own strength and abilities.
    </p>
  </div>
</section>

<section class="screenblock">
  <div class="content">
    <h1>Live statistics</h1>
    <statistics></statistics>
    <div class="center">
      <a href="/entrepreneurs" class="button">Start investing</a>
    </div>
  </div>
</section>

<section class="screenblock dark-colour">
  <div class="content">
    <img src="/assets/images/video-preview_@version@.jpg" class="video-preview" ng-show="!playVideo" ng-click="playVideo = true" alt="">
    <div class="youtube-video-container" ng-if="playVideo">
      <iframe width="853" height="480" class="youtube-video" src="https://www.youtube.com/embed/E6GCOCbzf_k?rel=0&amp;controls=0&amp;showinfo=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section class="screenblock">
  <div class="content">
    <h1>How it works</h1>
    <h3 class="bottomless">SELECT A START-UP</h3>
    <p class="headless">
      With your active engagement, the dignity and hope project aims to help individuals achieve their goals and provide for their families. Our localized team visits rural villages and underprivileged areas to encourage families to start their own sustainable businesses in their communities. Once each candidate is assessed*, the selected entrepreneurs’ business ideas will then be published on our web-platform for the dignity and hope community to fund.
      * Good to know: Before a start-up project is published on dignity-hope.com, the prospective entrepreneurs will have an assessment in ability, attitude and motivation. They are also provided training in the basics of how to set up a successful business.
    </p>
    <br>
    <h3 class="bottomless">INVESTING</h3>
    <p class="headless">
      With your investment, you enable your selected entrepreneur to begin their journey towards a dignified and hopeful future. The entrepreneur will work with our localized dignity and hope team. The team will help them to source the necessary materials and organize the trainings. All the administrative fees will be covered. We are one step closer to a more hopeful future!
    </p>
    <br>
    <h3 class="bottomless">GET INVOLVED</h3>
    <p class="headless">
      Soon after investing, you will receive a certificate that confirms your official status as partner to the start-up business. Many partners choose to display their certificates of partnership at work or at home, to show and discuss how they’re helping to change lives in another country. Our localized dignity and hope team will send you annual reports and pictures about the progress and success of the business. In our virtual communication center, you have the opportunity to communicate directly with your entrepreneur through a team member or translator.
    </p>
    <div class="center">
      <a href="/entrepreneurs" class="button">Start investing</a>
    </div>
  </div>
</section>
