.orders {
  .order {
    border: 1px solid $colour-dark;
    display: block;
    margin-bottom: #{$gutter*2};
    background-color: #fff;

    .order-header {
      text-align: center;
      background: $colour-dark;
      color: #fff;
      width: auto;
      padding: $gutter;
    }

    .order-content {
      padding: $gutter;

      div {
        @include box(4);

        &:nth-of-type(2) {
          text-align: center;
        }

        &:last-child {
          text-align: right;
        }
      }
    }

    .entrepreneur-image {
      height: 250px;
      background-size: cover;
      background-position: center;
    }
  }
}
