<section class="screenblock headerify light-colour">
  <div class="content">
    <h1>Reset your password</h1>
  </div>
</section>

<section class="screenblock">
  <div class="content">
    <form name="resetPasswordForm" ng-submit="resetPasswordForm.$valid && reset()" novalidate>
      <div class="formrow">
        <div class="formfield field-50">
          <input type="password" ng-model="newPassword" id="newPassword" minlength="5" maxlength="128" autocomplete="new-password" required>
          <label for="newPassword">New password</label>
        </div>
        <div class="formfield field-50">
          <input type="password" ng-model="RepeatPassword" id="newPassword" minlength="5" maxlength="128" autocomplete="new-password" required>
          <label for="RepeatPassword">Repeat password</label>
        </div>
      </div>
      <br><br>
      <div class="center loading-container">
        <button class="big" ng-class="{loading: resetting}">Save</button>
      </div>
    </form>
  </div>
</section>
