.hero-banner {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  .hero-banner-content {
    color: #fff;
    height: 100%;
    display: flex;
    align-items: flex-end;

    h1 {
      font-weight: normal;
      font-size: 3em;
      margin: 0;
    }
  }
}
