.hero-banner {
  height: 80vh;

  overflow: hidden;

  .hero-banner-image {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }

  .hero-banner-content {
    color: #fff;
    height: 100%;
    display: flex;
    align-items: flex-end;

    h1 {
      font-weight: normal;
      font-size: 3em;
      margin: 0;
    }
  }
}
